<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <%- include('../partials/login_section'); %>
  </main>
  <br/><br/>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>