<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap &amp; OpenLayers - Multiple marker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link  rel="stylesheet"   href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

    <%- include('../partials/head'); %>
  </head>
  <body onload="initialize_map();" style="margin:0;">
    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div id="map" style="width: 100vw; height: calc(100vh - 120px) ;"></div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  
    <script>
      // Create or retrieve the data
      /*
      var data = [
          {
            name: 'Ko Ko ',
            latLng: [16.82693891513995,96.17375649588146],
            id: 1
          }, 
          {
            name: 'Mg Mg ',
            latLng: [16.82701079758431,96.17407836260564],
            id: 2
          }, 
          {
            name: 'Hla Hla',
            latLng: [16.82708268133046,96.17427148333566],
            id: 3
          }, 
      ];
      */
      // Add an object to save markers
      var markers = {};
      var map ; 
      
      function initialize_map() {
        debugger; 
        map = L.map('map').setView([16.8387371,96.1781961], 14);
        mapLink = 
              '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
              'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; ' + mapLink + ' Contributors',
              maxZoom: 20,
          }).addTo(map);
        /*
        // Loop through the data
        for (var i = 0; i < data.length; i++) {
          var person = data[i];
          // Create and save a reference to each marker
          // markers[person.id] = L.marker(person.latLng).addTo(map);
          
          markers[person.id] = L.marker(person.latLng, {
              icon: new L.DivIcon({
                  className: 'my-div-icon',
                  html: '<img class="my-div-image" width="auto" height="35px" src="http://maps.google.com/mapfiles/ms/micons/blue-pushpin.png"/>'+
                        '<div class="my-div-span" style="width:100px;text-align:left;">'+ person.name +'</div>'
              })
          }).addTo(map);

        }
        */
      }
    </script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      debugger; 
        var socket = io();

        socket.on('locationUpdate', function(data) {
          debugger; 
          console.log("locationUpdate@maps "); 
            //var message = JSON.parse(data); 
            moveMarker( data ); 
        });
        socket.on('time', function(data) {
            addMessage(data.time);
        });
        socket.on('error', console.error.bind(console));
        socket.on('message', console.log.bind(console));

        function addMessage(message) {
            console.log( message ); 
            var text = document.createTextNode(message),
                el = document.createElement('li'),
                messages = document.getElementById('messages');

            el.appendChild(text);
            messages.appendChild(el);
        }

        function moveMarker(message){
          debugger; 
            //var marker = markers.2342fc7f; // or markers['2342fc7']
            /*
            var id  = parseInt(message.User.id) ?? 0; 
            var status  = parseInt(message.User.status) ?? 1; 
            var name = message.User.name ?? ""; 
            var lat = message.Coordinate.Latitude ?? 0.0; 
            var lng = message.Coordinate.Longitude ?? 0.0; 
            */
            var id  = parseInt(message.id) ?? 0; 
            //var status  = parseInt(message.status) ?? 1; 
            var status  = 1; 
            var name = message.username ?? ""; 
            var lat = message.latitude ?? 0.0; 
            var lng = message.longitude ?? 0.0; 
            var markerIcon ;  

            var marker = markers[ id ]; 
            //marker.icon = "http://maps.google.com/mapfiles/ms/micons/red-dot.png"
            if(marker){
              var newLatLng = new L.LatLng(lat, lng);
              marker.setLatLng(newLatLng); 
            }else{
              console.log('todo ws');
              if(status == 1 )
                //markerIcon  =  "http://maps.google.com/mapfiles/ms/micons/blue-pushpin.png"; 
                markerIcon  =  "http://maps.google.com/mapfiles/ms/micons/blue-dot.png"; 
              else if(status == 2 )
                markerIcon  =  "http://maps.google.com/mapfiles/ms/micons/red-dot.png"; 

              markers[id] = null; 
              markers[id] = L.marker([ lat, lng ], {
                  icon: new L.DivIcon({
                      className: 'my-div-icon',
                      html: '<img class="my-div-image" width="auto" height="35px" src="'+ markerIcon +'"/>'+
                            '<div class="my-div-span" style="width:100px;text-align:left;">'+ name +'</div>'
                  })
              }).addTo(map);
              
            }

        }

    </script>


  </body>
</html>